<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="3"
      android:versionName="1.2" package="com.balloon.dl">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.VIBRATE"/> 
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	 
	<supports-screens android:resizeable="true"
	                  android:smallScreens="false"
	                  android:normalScreens="true"
	                  android:largeScreens="true"
	                  android:anyDensity="true"/>
    <application android:icon="@drawable/icon" 
    		android:label="@string/app_name" 
    		android:debuggable="false"
     	  	android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity android:name=".MainMenuActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="GameMenuActivity"
                  android:screenOrientation="landscape"/>
		<activity android:name="TutorialActivity"
				  android:screenOrientation="landscape"/>
	  	<activity android:name="ArcadeModeActivity"
				  android:screenOrientation="landscape"/>
	  	<activity android:screenOrientation="landscape" 
	  			  android:name="RushModeActivity"/>
	  	<!-- -->  
    	<activity android:name="com.google.ads.AdActivity"
              	  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>


</manifest> 